@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}

h1{
    margin-bottom: 0.6rem;
    padding-left: 1.5rem;
    font-size: 20pt;
    background-image:linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    color: white;
}

.calculadora{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

button{
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    color: gray;
}

button:hover{
    background-color: #d9d9d9;
}

#resultado{
    font-size: 23px;
    color: gray;
    text-align: right;
    padding-right: 5px;
    margin: 0.2rem;
    background-color: #d9d9d9;
    height: 30px;
    border-radius: 0.5rem;
}